@import '../../scss/base';

.homeContainer {
   min-height: 74vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 425px) {
   .homeContainer {
      height: 18rem;
   }
}