@import '../../scss/variables';

.Carousel {
   .carousel-control-prev-icon, .carousel-control-next-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $color-gray;
      color: $color-gray;
      border-radius: 6px;
      background-color: $color-white;
      
      &:hover{
         border: 2px solid $color-blue;
         color: $color-blue;
      }
   }
   .carouselItem {
      height: 32rem;
      .carouselCaption {
         left: 5%; 
         color: $color-ld-blue;
         border: 2px solid $color-light-blue;
         border-radius: 5px;
         width: 30%;
         font-size: 14px;
         padding: 8px;
         font-weight: bold;
         
      }
   }
}